<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="margin: 50px;">
    <form action="/sb/exam/insert" method="post">
        <label class="col-form-label">이름</label>
        <input type="text" name="name" required><br>
        <label class="col-form-label">나이</label>
        <input type="number" name="age" required><br>
        <label class="col-form-label">국가</label>
        <input type="text" name="country" required><br>
        <input type="submit" value="등록">
    </form>
</body>
</html>
