<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 목록</title>
</head>
<body>
<h1>회원 목록</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>이름</th>
        <th>나이</th>
        <th>국가</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member: ${memList}">
        <td th:text="${member.mid}">ID</td>
        <td th:text="${member.name}">Name</td>
        <td th:text="${member.age}">Age</td>
        <td th:text="${member.country}">Country</td>
    </tr>
    </tbody>
</table>
</body>
</html>